/* Nav section */

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color:white;
    z-index: 1; 
}

 .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1150px;
    background-color:white;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1; 
}
 .nav-bar .sidebarOpen{
    color:black;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
    
}
 .nav-bar .logo img{
    height: 70px;
    
}
.menu .logo-toggle{
    display: none;
    color: black;
}
 .nav-links{
    display: flex;
    align-items: center;
}
 .nav-links li{
    margin: 0 5px;
    margin-top: 10px;
    list-style: none;
}
.nav-links li a{
    position: relative;
    font-size: 17px;
    color:black;
    text-decoration: none;
    padding: 18px;
    font-weight: bold;
}
.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 11px;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color:black;
    opacity: 0;
    transition: all 0.3s ease;
}
.nav-links li:hover a::before{
    opacity: 1;
}
 .darkLight-searchBox{
    display: flex;
    align-items: center;
}
 .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}
.searchToggle i{
    position: absolute;
    color:black;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}
.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}
.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}
.searchBox{
    position: relative;
}
 .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color:#E4E9F7 ;
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}
 .search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: white;
    transform: rotate(-45deg);
    z-index: -1;
} 
.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color:#010718;
    background-color:white ;
}
.dark.search-field input{
    color:#010718;
}
.search-field i{
    position: absolute;
    color:black;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}
.dark.search-field i{
    color:#010718 ;
}
@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }
    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color:white;
        z-index: 100;
        transition: all 0.4s ease;
    }
    nav.active .menu{
        left: -0%;
    }
    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }
    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-toggle .siderbarClose{
        color: black;
        font-size: 24px;
        cursor: pointer;
    }
    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }
    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
    
}
.account a{
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.wishlist a{
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.cart a{
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Slider */
.big-image{
  margin-top: 3rem;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .big-image h1{
  position: absolute;
  display: block;
  color: rgb(107, 107, 107);
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
 }
 
 .big-image p{
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
  #img1{
  object-fit: cover;
  height: 100%;
  width: 70%;
 }
 #img2{
  object-fit: cover;
  height: 100%;
  width: 30%;
 }
/* Cirle */

.bod{
    display: flex;
    justify-content: center;
  }
  .circular{
    max-width: 1200px;
    width: 95%;
    height: 190px; 
    margin-top: 10px;

  }
  #arrow-left{
    height: 32px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
    outline: none;
  }
  #arrow-right{
    height: 32px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .circular-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
 .image-list{
    height: 100%;
    gap: 18px;
    overflow-x: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: repeat(12,1fr);
  }
  .image-list::-webkit-scrollbar{
    display: none;
  }
  .try{
    display: flex;
    align-items: center;
    text-align: center;
  }
  .try a{
    text-decoration: none;
  }
  .try a h6{
    font-size: 18px;
    color: black;
    
  }
 .image-item{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
 }

 /* Start of Three Box Women Part */
 .women-bod{
    height:600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: 1px solid rgab(63,62,62);
    background-color:#fff;
 }
 .women-container{
    margin-top: 30px;
    height: 585px;
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #eee;
  }
  .women-collection{
    height: 575px;
    width:100%;
    border: 2px solid #fff; 
  }
  .women-image{
    height: 80%;
    width: 98%;  
    margin-top: 10px;
    object-fit: cover;
    transform: scale(0.9);
    border: 2px solid #fff;
  }
  .women-image:hover{
   outline-offset: 0; 
   transform: scale(1);
  }
  .women-collection a h1,h2{
    text-align: start;
  }
  .women-collection a h2{
    text-align: start;
    font-weight: 400;
  }
  .women-collection a h5{
    text-align: center;
  }
  .women-collection a{
    text-decoration: none;
    color: black;
  }
  @media(min-width:340px) and (max-width:450px){
    .women-bod{
        height: 1800px;
    }
    .women-container{
        height: 1780px;
        flex-direction: column;
    }
    .women-collection{
        width: 98%;
    }
    .big-image h1{
        font-size: 15px;
    }
  }

/* product-section Wome */
  .top h2{
    text-align:  start;
    width: 96%;
    margin-top: 2rem;
    margin-left: 2rem;
   }
  .womenbodylast{
    /* border:1px solid rgb(63, 62, 62); */
    margin-top: 15px;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  
    .women-containerlast{
      /* margin-top: 30px; */
     
      height:398px;
      width: 96%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .women-collectionlast{ 
      outline: 0.1rem solid #ccc;
      height: 390px;
      width:100%; 
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .women-imagel{
      height: 90%;
      width: 98%;  
      object-fit: cover;
      transform: scale(0.8);
    }
    .women-image1:hover{
        outline-offset: 0;
        transform: scale(1);
    }

    @media(min-width:150px) and (max-width:729px){
        .womenbodylast{
            margin-top: 2px;
            height: 700px;
          }
          .top h2{
            margin-top: 3rem;
            margin-left: 0.5rem;
          }
          .women-containerlast{
            height:98%;
            width: 98%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
          }
         .women-collectionlast{
            height: 310px;
         }   
}

/* Men product selection */

.menbodylast{
    /* border:1px solid rgb(63, 62, 62); */
    margin-top: 15px;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  
    .men-containerlast{
      /* margin-top: 30px; */
     
      height:398px;
      width: 96%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .men-collectionlast{ 
      outline: 0.1rem solid #ccc;
      height: 390px;
      width:100%; 
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .men-imagel{
      height: 90%;
      width: 98%;  
      object-fit: cover;
      transform: scale(0.9);
    }
    .men-image1:hover{
        outline-offset: 0;
        transform: scale(1);
    }
    .top a h4{
        text-align: center;
        color: black;
    }
     
@media(min-width:150px) and (max-width:729px){
    .menbodylast{
        margin-top: 2px;
        height: 700px;
      }
      .men-containerlast{
        height:98%;
        width: 98%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
      }
      .menbodylast{
        margin-top: 2px;
        height: 700px;
      }
      
      .men-collectionlast{
        height: 310px;
      }
}
/* footer selection */

.footer{
    top: 10%;
    position: relative;
    bottom: 0;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: start;
    margin-top: 10px;
    background-color: white;
}
.tha{
   display: flex;
   background-color: rgb(44, 44, 44);
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tha div{
    /* border: 2px solid black; */
    margin: 10px;
    position: absolute;
}
.than{
    width: 30%;
    left: 0px;
    color: white;
}
.num{
   right: 0px;
    width: 60%;
    color: white;
}
.emai{
    display: block;
    position: absolute;
    top: 20%;
    background-color: rgb(239, 238, 241);
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.follow{
    background-color: rgb(239, 238, 241);
    /* border: 2px solid black; */
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
.follow div{
/* border: 2px solid black; */
color: black;
width: auto;
}
.follow div p{
text-align: start;
}
.follow div p a{
   text-decoration: none;
   color: black;
}
.pp{
    margin-top: 10px;
}
.pp a{
    font-size: 12px;
}
.last{
    display: flex;
    position: absolute;
    top: 50%;
    width: 100%;
    bottom: 0;
    background-color:white;
    justify-content: space-around;
}
.last div{
    /* border: 2px solid black; */
    margin-top: 20px;
    text-align: start;
    margin-bottom: 20px;
}
.last div p{
    text-align: start;
    margin-top: 5px;
}
.last-head p a{
 text-decoration: none;
color: rgb(81, 83, 83);
font-size: 13px;
}
 
@media(min-width:150px) and (max-width:729px){
    .headd{
        visibility: hidden;
    }
    .emai{
        height: 80%;
        bottom: 0%;
    }
   
    .last{
        display: none;
        position: relative;
    }
    .follow{
    flex-direction: column;
    flex-wrap: wrap;
    align-content: normal;
    justify-content: flex-start;
    top:0px;
    }
    .follow div {
        width: auto;
    }
}